@model IEnumerable<Student>

@{
    ViewData["Title"] = "Punten";
}

<h1>@ViewData["Title"]</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Scores)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            if (item.Scores?.Any() ?? false)
            {
                <tr class="table-secondary">
                    <td colspan="3">
                        @Html.DisplayFor(model => item.Name)
                    </td>
                </tr>

                @foreach (var punt in item.Scores)
                {
                    <tr>
                        <td>
                        </td>
                        <td>
                            @punt.Course?.Name – @punt.Grade / 20 (@Html.DisplayFor(puntItem => punt.GradeAsPercentage))
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "Edit", new { punt.StudentId, punt.CourseId }) |
                            @Html.ActionLink("Delete", "Delete", new { punt.StudentId, punt.CourseId })
                        </td>
                    </tr>
                }
            }
        }
    </tbody>
</table>


